.heading-container{
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    
}

.nav-label{
    font-size: 15px;
    font-weight: 700;
    line-height: 2rem;
}
.search-input{
    padding: .6rem 2rem;
    border: 1px solid #ccc;
    
}
.search-btn{
    top: 0;
    right: 0;
    background-color: transparent;
    border: transparent;
    padding: .5rem 1rem;
    font-size: 18px;
    border-top-right-radius: .5rem ;
    border-bottom-right-radius: .5rem ;
    &:hover {
        color: #cbf69e;
        background-color: #262d3f;
    }
}
.header.fade-in {
    animation: fadeIn 0.5s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .header.slide-in {
    animation: slideIn 0.5s ease-in;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }