.border-left{
    border-right: 1px solid #ccc;
}
.border-top{
    border-top: 1px solid #ccc;
}
.card-title{
    font-size: 19px;
    font-weight: 700;
    line-height: 2.25rem;
}
.border-radius-top-left {
    border-top-left-radius: 1rem;
}
.border-radius-top-right {
    border-top-right-radius: 1rem;
}
.border-radius-bottom-left {
    border-bottom-left-radius: 1rem;
}
.border-radius-bottom-right {
    border-bottom-right-radius: 1rem;
}
td, th{
    padding: 1rem !important;
    
}

.cards-wraper{
    border: 1px solid #ccc;
    .card-container{
        
       
        .card-number{
            font-size: 30px;
            font-weight: 700;
            line-height: 3rem;
        }
        .card-percent{
            font-size: 15px;
            line-height: 1.75rem;
            font-weight: 600;
            padding: .1rem .5rem ;
            display: inline-block;
            border-radius: 12px;
        }
        .increse{
            background-color: rgba(203, 246, 158,.5);
        }
        .decrese {
            background-color: rgba(246, 66, 35, 0.5);
        }
        &:hover {
            background: rgb(194,130,210);
            background: linear-gradient(180deg, rgba(194,130,210,0.6924019607843137) 23%, rgba(134,81,239,0.7400210084033614) 84%);
            .card-percent{
                background-color: #fff;
            }
            .card-title{
                color: #fff;
            }
        }
    }
}

.user-img{
    width: 30px;
    height: 30px;
}
.username{
    font-size: 17px;
    font-weight: 600;
    line-height: 2rem;

}
