



.question-wrapper{
    position: fixed;
    top: 60px;
    right: 0%;
    min-width: 20%;
    border-left: 1px solid #ccc;
    min-height: 92vh;
    box-shadow: 0px 4px 6px 2px #ccc;
    background-color: #262d3f;
    .edit-question-container{
        
        border-bottom: 1px solid #cccccc3b;
        .edit-question-btn {
            background-color: transparent;
            outline: none;
            border: none;
            color: #fff;
            font-size: 13px;
            line-height: 2.5rem;
            font-weight: 400;
            width: auto;
            height: 100%;
            text-transform: uppercase;
        }
    }
    .question-container{
        .delete-btn-container{
            display: none;
            position: absolute;
            right: -20px;
            top: 0;
            .delete-question{
                color: #fff;
                background-color: transparent;
                outline: none;
                &:hover{
                    color: #262d3f;
                    background-color: #fff;
                }
            }
        }
        &:hover{
            .delete-btn-container{
                display: block;
            }
        }
        
    }
}
.question,
.edit-question-container{
    color: #fff;
    font-size: 13px;
    line-height: 2.5rem;
    font-weight: 400;
    width: auto;
    height: 100%;
    text-transform: uppercase;
    &:hover{
        background-color: rgba(203, 246, 155,.3);
        color: #cbf69e;
    }
}