*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar-wrapper{
    top: 0px;
    left: 0;
    width: 22.5%;
    height: 100%;
    background-color: #262d3f;
    .sidebar-container{
        .border-nav-top{
            border-top: 1px solid #cccccc4b;
         }
         .setting-nav-container{
            min-height: 30vh;
         }
       .nav-item{
        color: #fff;
        font-size: 15px;
        line-height: 1.5rem;
        text-decoration: none;
        
        &:hover{
            background-color: rgba(203, 246, 155,.3);
            color: #cbf69e;
            
        }
    }
       
         
    }
}

