.bg-1{
    background: rgb(140,210,130);
    background: linear-gradient(180deg, rgba(140,210,130,0.6924019607843137) 13%, rgba(81,239,96,0.7512254901960784) 85%);
}
.bg-2{
    background: rgb(194,130,210);
    background: linear-gradient(180deg, rgba(194,130,210,0.6924019607843137) 23%, rgba(134,81,239,0.7400210084033614) 84%); 
}
.add-new-course-btn{
    font-size: 15px;
    font-weight: 600;
    line-height: 2.25rem;
    background-color: #262d3f;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px 2px #ccc;
    border: 1px solid transparent;
    &::after{
        display: none;
       content: "+";
       position: absolute;
       font-size: 30px;
       font-weight: 600;
       line-height: 2.75rem;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: #262d3f;
       border-radius: 1rem;
    }
}
.add-course-container:hover .add-new-course-btn::after{
    display: block;
}
.course-inf-container{
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px #ccc;

    .course-title{
        font-size: 40px;
        font-weight: 700;
        line-height: 4rem;
        text-transform: initial;
    }
    .modal{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #3333339e;
        border-radius: 1rem;
       
       .edit-course-container{
        
        .edit-btn{
            background-color: #fff;
            color: #000;
            text-decoration: none;
            font-size: 17px;
            font-weight: 500;
            line-height: 1.5rem;
        }
       }
    }
    &:hover{
        .modal{

            display: block;
        }
        
    }
}
